<% taxonomies.each do |taxonomy| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= taxonomy.name %></div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomy.root.children.each do |taxon| %>
            <li>
              <% if taxon.leaf? %>
                <%= link_to "#{taxon.name} (#{taxon.products.count})", potepan_category_path(taxon.id), data: { toggle: "collapse", target: "#" } %>
              <% else %>
                <%= link_to "javascript:;", data: { toggle: "collapse", target: "#taxon-#{taxon.id}" } do %>
                  <%= taxon.name %><i class="fa fa-plus"></i>
                <% end %>
                <ul id="taxon-<%= taxon.id %>" class="collapse collapseItem">
                  <% taxon.children.each do |sub_taxon| %>
                    <li>
                      <%= link_to potepan_category_path(sub_taxon.id) do %>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <%= sub_taxon.name %> <span>(<%= sub_taxon.products.count %>)</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="panel panel-default priceRange">
  <div class="panel-heading">値段から探す</div>
  <div class="panel-body clearfix">
    <div class="price-slider-inner">
      <span class="amount-wrapper">
        <input type="text" id="price-amount-1" readonly>
        <strong>-</strong>
        <input type="text" id="price-amount-2" readonly>
      </span>
      <div id="price-range"></div>
    </div>
    <input class="btn btn-default" type="submit" value="絞り込む">
    <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="#">ブラック<span>(15)</span></a></li>
      <li><a href="#">ホワイト<span>(10)</span></a></li>
      <li><a href="#">レッド<span>(7)</span></a></li>
      <li><a href="#">ブルー<span>(12)</span></a></li>
      <li><a href="#">オレンジ<span>(12)</span></a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <li><a href="#">S<span>(15)</span></a></li>
      <li><a href="#">M<span>(10)</span></a></li>
      <li><a href="#">L<span>(7)</span></a></li>
      <li><a href="#">XL<span>(12)</span></a></li>
    </ul>
  </div>
</div>
