<% provide(:title, @taxon.name) %>
<% provide(:page_title, 'Category name') %>

<div class="main-wrapper">

  <%= render 'light_section', taxon: @taxon %>

  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'sidebar', taxonomies: @taxonomies %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter', display_in_list_format: @display_in_list_format %>
          <% if @display_in_list_format %>
            <div class="row productListSingle">
              <%= render partial: 'product_list', collection: @products, as: :product %>
            </div>
          <% else %>
            <div class="row productGrid">
              <%= render partial: 'product_grid', collection: @products, as: :product %>
            </div>
          <% end %>
          <%= render partial: 'product_modal', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'partners_section' %>

</div>