<ul class="list-inline">
  <li>
    <%= link_to potepan_root_path do %>
      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
    <% end %>
  </li>
</ul>
<h2><%= product.name %></h2>
<h3><%= product.display_price %></h3>
<p><%= product.description %></p>

<% if product.has_variants? %>
  <span class="quick-drop">
    <select name="guiest_id3" id="guiest_id3" class="select-drop">
      <% product.variants_and_option_values_for.each do |variant| %>
        <option value="<%= variant.id %>"><%= variant.options_text %></option>
      <% end %>
    </select>
  </span>
<% end %>

<span class="quick-drop resizeWidth">
  <select name="guiest_id4" id="guiest_id4" class="select-drop">
  <!--   <option value="0">Qty</option> -->
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</span>

<div class="btn-area">
  <%= link_to potepan_cart_page_path, class: "btn btn-primary btn-block" do %>
    カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
  <% end %>
</div>
<div class="tabArea">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#details">details</a></li>
    <li><a data-toggle="tab" href="#about-art">about art</a></li>
    <li><a data-toggle="tab" href="#sizing">sizing</a></li>
    <li><a data-toggle="tab" href="#shipping">shipping</a></li>
  </ul>
  <div class="tab-content">
    <div id="details" class="tab-pane fade in active">
      <table id="product-properties" class="table-display" data-hook>
        <tbody>
        <% product_properties.each do |product_property| %>
          <tr>
            <td><strong><%= product_property.property.presentation %></strong></td>
            <td><%= product_property.value %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id="about-art" class="tab-pane fade">
      <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis condimentum nibh dolor ut tortor. Donec egestas tortor quis mattis gravida. Ut efficitur elit vitae dignissim volutpat. </p>
    </div>
    <div id="sizing" class="tab-pane fade">
      <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam varius cursus nisi, sed elementum sem sagittis at. Nulla tellus massa, vestibulum a commodo facilisis, pulvinar convallis nunc.</p>
    </div>
    <div id="shipping" class="tab-pane fade">
      <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus.</p>
    </div>
  </div>
</div>