<div class="carousel-inner">
  <% product.images.each_with_index do |image, index| %>
    <div class="item <%= 'active' if index.zero? %>" data-thumb="<%= image.viewable_id %>">
      <%= image_tag image.attachment(:large) %>
    </div>
  <% end %>
  <% if product.has_variants? %>
    <% product.variant_images.each do |image| %>
      <% next if product.images.include?(image) %>
      <div class="item vitem" data-thumb="<%= image.viewable_id %>">
        <%= image_tag image.attachment(:large) %>
      </div>
    <% end %>
  <% end %>
</div>