<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>

<% related_products.each do |product| %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag(product.display_image.attachment(:product), alt: "image of #{product.name}") %>
        <div class="productMasking">
          <ul class="list-inline btn-group" role="group">
            <li>
              <%= link_to(".login-modal", class: "btn btn-default", data: { toggle: "modal" }) do %>
                <i class="fa fa-heart"></i>
              <% end %>
            </li>
            <li>
              <%= link_to(potepan_cart_page_path, class: "btn btn-default") do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
            <li>
              <%= link_to(".quick-view", class: "btn btn-default", data: { toggle: "modal", target: "#product-#{product.id}" }) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    </div>
  </div>
<% end %>