<div class="carousel-inner">
  <% product.images.each do |image| %>
    <div data-target="#carousel" data-slide-to="<%= image.viewable_id %>" class="thumb">
      <%= image_tag image.attachment(:small) %>
    </div>
  <% end %>

  <% if product.has_variants? %>
    <% product.variant_images.each do |image| %>
      <% next if product.images.include?(image) %>
      <div data-target="#carousel" data-slide-to="<%= image.viewable_id %>" class="thumb vtmb">
        <%= image_tag image.attachment(:small) %>
      </div>
    <% end %>
  <% end %>
</div>

<a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>