<% provide(:title, @product.name) %>
<%= render 'light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <%= render 'carousel', product: @product %>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <%= render 'thumbcarousel', product: @product %>
              </div>
            </div>
          </div>
          <div id="cart-form" class="media-body">
            <%= render 'cart_form', { product: @product, product_properties: @product_properties } %>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <%= render 'related_products', related_products: @related_products %>
    </div>
  </div>
</section>

<%= render partial: 'shared/product_quick_view_modal', collection: @related_products %>